<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Raperos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce el nombre del RAPERO al que desee buscar"></ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let rapper of rappers | async">
        <ion-col *ngIf="filtro=='' || rapper.singer.startsWith(filtro)" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-avatar><img [src]="rapper.image"></ion-avatar>
              <h1>{{ rapper.song }}</h1>
              <h2>{{ rapper.singer }}</h2>
              <p>{{ rapper.genre }}</p>
              <p>{{ rapper.duration }}</p>
              <p>{{ rapper.release_date }}</p>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
